<h1><%= @pagename %></h1>
<div class="works_container">
  <a rel="group" class="fancybox" href="/assets/sketches/sketch01-8ac04a2b0cde2412390c40f0c4470412.jpg"><img src="/assets/thumbnails/thumb-sketch01-e8675accec3adf17e30f12696d7cc727.jpg" alt="rone one sketch"/></a>
  <a rel="group" class="fancybox" href="/assets/sketches/sketch02.jpg"><img src="/assets/thumbnails/thumb-sketch02-4bbbdd843d184e383ec49abc5f4942e1.jpg" alt="rone one sketch"/></a>
  <a rel="group" class="fancybox" href="/assets/sketches/sketch03-b5fd17b1fccb648617a43feac06ae350.jpg"><img src="/assets/thumbnails/thumb-sketch03-8925f0e2ae8355927437276a32c798ab.jpg" alt="rone one sketch"/></a>
  <a rel="group" class="fancybox" href="/assets/sketches/sketch04-bc06ab373fe4f49af3a3ee329446a776.jpg"><img src="/assets/thumbnails/thumb-sketch04-68101255498a4878a45b856a946b334b.jpg" alt="rone one sketch"/></a>

  <%= image_tag 'sketches/sketch01.jpg', alt: 'rone one sketch' %>
  <%= image_tag 'sketches/sketch02.jpg', alt: 'rone one sketch' %>
  <%= image_tag 'sketches/sketch03.jpg', alt: 'rone one sketch' %>
  <%= image_tag 'sketches/sketch04.jpg', alt: 'rone one sketch' %>


  <a rel="group" class="fancybox" href="/assets/sketches/sketch01.jpg"><img src="/assets/thumbnails/thumb-sketch01.jpg" alt="rone one sketch"/></a>
  <a rel="group" class="fancybox" href="/assets/sketches/sketch02.jpg"><img src="/assets/thumbnails/thumb-sketch02.jpg" alt="rone one sketch"/></a>
  <a rel="group" class="fancybox" href="/assets/sketches/sketch03.jpg"><img src="/assets/thumbnails/thumb-sketch03.jpg" alt="rone one sketch"/></a>
  <a rel="group" class="fancybox" href="/assets/sketches/sketch04.jpg"><img src="/assets/thumbnails/thumb-sketch04.jpg" alt="rone one sketch"/></a>
  <a rel="group" class="fancybox" href="/assets/sketches/sketch05.jpg"><img src="/assets/thumbnails/thumb-sketch05.jpg" alt="rone one sketch"/></a>
  <a rel="group" class="fancybox" href="/assets/sketches/sketch06.jpg"><img src="/assets/thumbnails/thumb-sketch06.jpg" alt="rone one sketch"/></a>
  <a rel="group" class="fancybox" href="/assets/sketches/sketch07.jpg"><img src="/assets/thumbnails/thumb-sketch07.jpg" alt="rone one sketch"/></a>
</div>
