<h1><%= @pagename %></h1>
<div class="works_container">
  <%= image_tag 'thumbnails/thumb-sketch01.jpg', alt: 'rone one sketch' %>
  <%= image_tag 'thumbnails/thumb-sketch02.jpg', alt: 'rone one sketch' %>
  <%= image_tag 'thumbnails/thumb-sketch03.jpg', alt: 'rone one sketch' %>
  <%= image_tag 'thumbnails/thumb-sketch04.jpg', alt: 'rone one sketch' %>

  <%= image_tag 'sketches/sketch01.jpg', alt: 'rone one sketch' %>
  <%= image_tag 'tsketches/sketch02.jpg', alt: 'rone one sketch' %>
  <%= image_tag 'sketches/sketch03.jpg', alt: 'rone one sketch' %>
  <%= image_tag 'sketches/sketch04.jpg', alt: 'rone one sketch' %>

  <a rel="group" class="fancybox" href="/assets/sketches/sketch01.jpg"><img src="/assets/thumbnails/thumb-sketch01.jpg" alt="rone one sketch"/></a>
  <a rel="group" class="fancybox" href="/assets/sketches/sketch02.jpg"><img src="/assets/thumbnails/thumb-sketch02.jpg" alt="rone one sketch"/></a>
  <a rel="group" class="fancybox" href="/assets/sketches/sketch03.jpg"><img src="/assets/thumbnails/thumb-sketch03.jpg" alt="rone one sketch"/></a>
  <a rel="group" class="fancybox" href="/assets/sketches/sketch04.jpg"><img src="/assets/thumbnails/thumb-sketch04.jpg" alt="rone one sketch"/></a>
  <a rel="group" class="fancybox" href="/assets/sketches/sketch05.jpg"><img src="/assets/thumbnails/thumb-sketch05.jpg" alt="rone one sketch"/></a>
  <a rel="group" class="fancybox" href="/assets/sketches/sketch06.jpg"><img src="/assets/thumbnails/thumb-sketch06.jpg" alt="rone one sketch"/></a>
  <a rel="group" class="fancybox" href="/assets/sketches/sketch07.jpg"><img src="/assets/thumbnails/thumb-sketch07.jpg" alt="rone one sketch"/></a>
</div>
