<h1><%= @pagename %></h1>
<div class="works_container">
	<a rel="group" class="fancybox" title="Роспись стены в lounge ресторане 'MY PLACE' ул.Немига д.1" href="/assets/myplace1-2bde3b0b1e65299c2e15578bd4231038.jpg"><img src="/assets/thumbnails/thumb-myplace1-32b0129a7383b9d84102ac10decc3336.jpg" alt="rone one work"/></a>

	<%= image_tag 'thumbnails/thumb-myplace1.jpg', alt: 'rone one work' %>
    <%= image_tag 'thumbnails/thumb-bowling-house.jpg', alt: 'rone one work' %>
    <%= image_tag 'thumbnails/thumb-vinily-1.jpg', alt: 'rone one work' %>

    <%= image_tag 'works/myplace1.jpg', alt: 'rone one work' %>
    <%= image_tag 'works/bowling-house.jpg', alt: 'rone one work' %>
    <%= image_tag 'works/vinily-1.jpg', alt: 'rone one work' %>

  <!--<a rel="group" class="fancybox" title="Роспись стены в lounge ресторане 'MY PLACE' ул.Немига д.1" href="/assets/works/myplace1.jpg"><%= image_tag 'thumbnails/thumb-myplace1.jpg', alt: 'rone one work'></a>-->
  <a rel="group" class="fancybox" title="РBOWLING HOUSE. Исполнители: Вадим Богдан, Игорь Гоменюк, Яня Нестерович" href="/assets/works/bowling-house.jpg"><img src="/assets/thumbnails/thumb-bowling-house.jpg" alt="rone one work"/></a>
  <a rel="group" class="fancybox" title="РBOWLING HOUSE. Исполнители: Вадим Богдан, Игорь Гоменюк, Яня Нестерович" href="/assets/works/bowling-house2.jpg"><img src="/assets/thumbnails/thumb-bowling-house2.jpg" alt="rone one work"/></a>
  <a rel="group" class="fancybox" title="Винилы. Дизайн-Rone One, печать и нанесение-Vinil Toys" href="/assets/works/vinily-1.jpg"><img src="/assets/thumbnails/thumb-vinily-1.jpg" alt="rone one work"/></a>
  <a rel="group" class="fancybox" title="Офис ИТ-компании" href="/assets/works/ofis-it.jpg"><img src="/assets/thumbnails/thumb-ofis-it.jpg" alt="rone one work"/></a>
  <a rel="group" class="fancybox" title="Офис ИТ-компании" href="/assets/works/ofis-it2.jpg"><img src="/assets/thumbnails/thumb-ofis-it2.jpg" alt="rone one work"/></a>
  <a rel="group" class="fancybox" title="Кафе Cakes.by. Роспись 2х4 м" href="/assets/works/cakesby.jpg"><img src="/assets/thumbnails/thumb-cakesby.jpg" alt="rone one work"/></a>
</div>

