<div id="logo"><%= image_tag 'logo.jpg', height: 100, alt: 'R1 logo' %></div><h2 class="sitename">Граффити (роспись стен) на заказ в Минске</h2>
<nav class="navbar menu">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Главная', root_path %></li>
    <li><%= link_to 'Работы', works_path %></li>
    <li><%= link_to 'Эскизы', sketches_path %></li>
    <li><%= link_to 'Информация', info_path %></li>
    <li><%= link_to 'Отзывы', testimonials_path %></li>
    <li><%= link_to 'Новости (записи)', posts_path %></li>
  </ul>

  <% if session[:mentor_id] %>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to 'Admin', mentor_path %></li>
        <li><%= button_to 'Logout', logout_path, method: :delete, class: 'btn navbar-btn btn-primary' %></li>
      </ul>
  <% else %>
      <%= link_to 'Login', login_path, class: 'btn btn-primary pull-right' %>
  <% end %>
</nav>
