<div id="logo"><%= image_tag 'logo.jpg', height: 100, alt: 'R1 logo' %></div><h1><%= @sitename %></h1>
<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><%= link_to 'index', root_path %></li>
    <li><%= link_to 'works', works_path %></li>
    <li><%= link_to 'info', info_path %></li>
    <li><%= link_to 'news', news_path %></li>
  </ul>
</nav>
