<div class="slider">
	<div class="slide_container">
		<ul class="slide_wrapper" data-current="0">
			<li class="slide"><%= image_tag 'slider/slider-myplace.jpg', alt: 'My Place' %><a class="caption" href="works.html">Роспись стены в lounge ресторане 'MY PLACE' ул.Немига д.1</a></li>
			<li class="slide"><%= image_tag 'slider/slider-sport.jpg', alt: 'Спортивные тотализаторы' %><a class="caption" href="works.html">Спортивные тотализаторы. Граффити 20 кв.м</a></li>
			<li class="slide"><%= image_tag  'slider/slider-ofisit.jpg', alt: 'Офис ИТ-компании' %><a class="caption" href="works.html">Офис ИТ-компании</a></li>
			<li class="slide"><%= image_tag 'slider/slider-cakes.by.jpg', alt: 'Кафе Cakes.by' %><a class="caption" href="works.html">Кафе Cakes.by 2х4 м</a></li>
			<li class="slide"><%= image_tag 'slider/slider-dom-outer.jpg', alt: 'Роспись частного дома' %><a class="caption" href="works.html">Граффити-роспись частного дома</a></li>
			<li class="slide"><%= image_tag 'slider/slider-dom.jpg', alt: 'Роспись частного дома' %><a class="caption" href="works.html">Граффити-роспись частного дома</a></li>
			<li class="slide"><%= image_tag 'slider/slider-shop.jpg', alt: 'Магазин детской одежды.10кв.м' %><a class="caption" href="works.html">Магазин детской одежды.10 кв.м</a></li>
			<li class="slide"><%= image_tag 'slider/slider-vinily2.jpg', alt: 'Винилы. Дизайн-Rone One, печать и нанесение-Vinil Toys' %><a class="caption" href="works.html">Винилы. Дизайн-Rone One, печать и нанесение-Vinil Toys</a></li>
		</ul>
	</div><!--.slide_container-->
		<div id='prev_slide' class='arrows'></div>
		<div id='next_slide' class='arrows'></div>
		<div class="button_container">

	</div>
</div><!--.slider-->
<h1><%= @pagename %></h1>
<p>На этом сайте Вы можете заказать граффити, художественную роспись стен любой сложности. Работы выполняются как в экстерьере, так и в интерьере. Используется высококачественная краска, стойкая разнообразная палитра.</p>

