<h1><%= @pagename %></h1>
<div class="works_container">
  <%= image_tag 'thumbnails/thumb-sketch01.jpg', alt: 'rone one sketch' %>
  <%= image_tag 'thumbnails/thumb-sketch02.jpg', alt: 'rone one sketch' %>
  <%= image_tag 'thumbnails/thumb-sketch03.jpg', alt: 'rone one sketch' %>
  <%= image_tag 'thumbnails/thumb-sketch04.jpg', alt: 'rone one sketch' %>
  <%= image_tag 'thumbnails/thumb-sketch05.jpg', alt: 'rone one sketch' %>
  <%= image_tag 'thumbnails/thumb-sketch06.jpg', alt: 'rone one sketch' %>
  <%= image_tag 'thumbnails/thumb-sketch07.jpg', alt: 'rone one sketch' %>
  <%= image_tag 'thumbnails/thumb-sketch08.jpg', alt: 'rone one sketch' %>
  <%= image_tag 'thumbnails/thumb-sketch09.jpg', alt: 'rone one sketch' %>
  <%= image_tag 'thumbnails/thumb-sketch10.jpg', alt: 'rone one sketch' %>
</div>
