<h1><%= @pagename %></h1>
<div class="works_container">
  <%= image_tag 'thumbnails/thumb-myplace1.jpg', alt: 'rone one work' %>
  <%= image_tag 'thumbnails/thumb-bowling-house.jpg', alt: 'rone one work' %>
  <%= image_tag 'thumbnails/thumb-vinily-1.jpg', alt: 'rone one work' %>
  <%= image_tag 'thumbnails/thumb-ofis2.jpg', alt: 'rone one work' %>
  <%= image_tag 'thumbnails/thumb-cakesby.jpg', alt: 'rone one work' %>
  <%= image_tag 'thumbnails/thumb-ofis-it.jpg', alt: 'rone one work' %>
  <%= image_tag 'thumbnails/thumb-dom-inner.jpg', alt: 'rone one work' %>
  <%= image_tag 'thumbnails/thumb-dom-inner2.jpg', alt: 'rone one work' %>
  <%= image_tag 'thumbnails/thumb-dom-outer.jpg', alt: 'rone one work' %>
  <%= image_tag 'thumbnails/thumb-dom-outer2.jpg', alt: 'rone one work' %>
  <%= image_tag 'thumbnails/thumb-garazh.jpg', alt: 'rone one work' %>
</div>
