<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= render 'shared/header' %>
		<div class="content col-md-8"><%= yield %></div>
		<div class="sidebar col-md-4"><%= render 'shared/sidebar' %></div>
		<%= render 'shared/footer' %>
	</div>

</body>
</html>
